/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Global Variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;
}

/* End Global variable */

body {
  font-family: var(--font-family);
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.qr-card {
  background: var(--white);
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.qr-card img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}



.qr-card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}

.qr-card p {
  font-size: var(--font-size);
  color: var(--grayish-blue);
}